<section id="login-section">
    <form id="login-form">
        <h2 id="login-title">Seja bem vindo!</h2>
        <div class="input-div">
            <label for="email-input">Email</label>
            <input name="email-input" type="text" placeholder="Insira seu email">
        </div>
        <div class="input-div">
            <label for="password-input">Senha</label>
            <input name="password-input" type="password" placeholder="Insira sua senha">
        </div>
        <div class="button-div">
            <button>Entrar</button>
            <button>Esqueci a senha</button>
            <button>Cadastrar</button>
        </div>
    </form>
</section>