#login-section {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    width: 25vw;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;
}

.button-div {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}